.DS_Store
.vim/pack/**
.vim/plugged/**
.vim/plug.vim
.vim/coc-settings.json
vimwiki/diary/**
.vim/.netrwhist
.tmux/plugins/**
.tmux/resurrect/**
.mutt/cache/**
build/**
session.vim
plugin-update.local
update.local
install.local

