.DS_Store
.pyenv/**
.antigen/**
.vim/pack/**
.vim/plugged/**
.vim/plugins.vim
.vim/coc-settings.json
vimwiki/diary/**
.vim/.netrwhist
.tmux/plugins/**
.tmux/resurrect/**
.mutt/cache/**
.weechat/Downloads/**
.weechat/xfer/**
.weechat/*.log
.weechat/*.pem
.weechat/logs/
.weechat/script/plugins.xml.gz
.weechat/sec.conf
.weechat/weechat_fifo
build/**
bin/all/starship
bin/all/tstudio.conf
session.vim
plugin-update.local
update.local
install.local

